<!DOCTYPE html>
<html>
<head>
  <title>DevPortfolio</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About Me', about_path %></li>
        <li><%= link_to 'My Work', work_path %></li>
        <li><%= link_to 'Contact Me', contact_path %></li>
      </ul>
    </nav>
  </header>

  <%= yield %>

  <footer>
    <p>© [Christopher Landaverde] [2024].</p>
  </footer>
</body>
</html>
